/.settings
/premiummarkets
/target
/.classpath
/.project
/hashes.txt
/tmp
/forecastresource
/autoPortfolioLogs
/derby
/pmserror.log*
/pmsjava.log*
/*.png
/derby.log
/hs_err_pid10288.log
/hs_err_pid14135.log
/hs_err_pid14411.log
/hs_err_pid15199.log
/hs_err_pid15447.log
/hs_err_pid15453.log
/hs_err_pid19618.log
/hs_err_pid20916.log
/hs_err_pid22563.log
/hs_err_pid23756.log
/hs_err_pid25955.log
/hs_err_pid31708.log
/hs_err_pid7144.log
/hs_err_pid8101.log
