/.settings
/premiummarkets
/target
/.classpath
/.project
/hashes.txt
/tmp
/forecastresource
/autoPortfolioLogs
/derby
/pmserror.log*
/pmsjava.log*
/*.png
/derby.log
/hs_err_*
/transactionsexports
/transactionsexports/*
update_traker.json
